{% load static %}
<header>
    <div class="header-container">
      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Company Logo" />
      </div>
      <nav class="nav-center">
        <ul class="nav-links relative">
          <li><a href="{% url 'index' %}" class="hover:text-teal-400 transition">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li class="dropdown">
            <a href="{% url 'services' %}" class="dropdown-link">Services</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'cloud' %}">Cloud</a></li>
              <li><a href="{% url 'application_development' %}">Application Development</a></li>
              <li><a href="{% url 'cognitive_operations' %}">Cognitive Business Operations</a></li>
              <li><a href="{% url 'data_analytics' %}">Data & Analytics</a></li>
              <li><a href="{% url 'network_solutions' %}">Network Solutions & Services</a></li>
              <li><a href="{% url 'it_consulting' %}">IT Consulting</a></li>
              <li><a href="{% url 'software_training' %}">Software Training</a></li>
            </ul>
          </li>
          <li><a href="{% url 'industries' %}">Industries</a></li>
          <li><a href="{% url 'careers' %}">Careers</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="marquee-container">
    <div class="marquee">
      Welcome to Techsol Global Limited — Delivering Tech Brilliance Globally | Reach us at admin@Techsol.in | Call us: +91-9108191003
    </div>
  </div>